body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea{
  width: 100%;
}

.viewtwo {
  display: none;
}


.row.viewtwo {
  background: white;
  border: solid;
  border-color: #080808;
  padding: 10px;
  margin: 0px 10px 0px 10px;
}

